<!DOCTYPE html>
    <head>
        <title>pageTitle</title>
        <link rel="stylesheet" href="css/style.css">
        {{> head}}
    </head>
    <body>
        <div class="container">

          {{> header}}

          <p>bio</p>

          <br>

          <br>

          <p>
              <a href="http://www.twitter.com/twitter">Twitter</a>,
              <a href="http://www.github.com/github">GitHub</a>
              <a href="http://website">Website</a>
          </p>
        </div>
        {{> footer}}
    </body>
</html>
